<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>เว็บรวมเพลงพระราชนิพนธ์</title>
</head>
<style type="text/css">
	body {
  background-image: url(https://image.dek-d.com/25/2729948/109459049);
}

</style>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="font-size: 20px;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="home">เว็บรวมเพลงพระราชนิพนธ์</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right" >
                    <li >
                        <a href="home">หน้าแรก</a>
                    </li>
                    <li >
                        <a href="kingsong1">สายลม</a>
                    </li>
                    <li >
                        <a href="kingsong2">พรปีใหม่</a>
                    </li>
                    <li >
                        <a href="kingsong3">ใกล้รุ่ง</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


        <div class="row" style="margin-top: 80px;">
            <div class="col-lg-12">
                <p class="page-header" align="center" style="color: white; font-size: 50px;">เพลงสายลม</p>
            </div>
            <div class="col-md-6" align="center" style="color: white; font-size: 20px;">
                <p>ท่ามกลาง</p>
				<p>ฟากฟ้า มัวหม่น</p>
				<p>ลิ่วลม หลั่งฝน โปรยทั่ว</p>
				<p>เยือกเย็น ชีพเฉา เมามัว</p>
				<p>จิตใจไหวหวาดกลัว</p>
				<p>หวั่นฟ้าคำราม ลั่น</p>
				<p>.โรจน์เรือง</p>
				<p>แปลบแสง ฟ้าผ่า</p>
				<p>ล่องลม ลิ่วมาเสียงสนั่น</p>
				<p>โอ้ลม หนอลมพัดคืนวัน</p>
				<p>โบกโบยเพียงไหนกัน</p>
				<p>พัดจนไม่รู้วัน สงบเอย</p>
				<p>ต้องลม เหล่าไม้ เอนลิ่ว</p>
				<p>ลู่ใบ ลุ่ยพลิ้ว ปลิวว่อน</p>
				<p>จิตใจ อ่อนท้อ อาทร</p>
				<p>ด้วยลมพัดโบกว่อน</p>
				<p>ล่องหนวนเวียน ไป</p>
				<p>.อย่าเป็น</p>
				<p>อย่างสาย ลมเล่า</p>
				<p>เปลี่ยนแปลง</p>
				<p>ซึมเซาเหลิงรักใหม่</p>
				<p>โอ้ลม หนอลม</p>
				<p>พัดเลยไป</p>
				<p>โลกเคยรู้ฉันท์ใด</p>
				<p>แล้วคง สุขสมใจ ยิ่งเอย</p>
            </div>

            <div class="col-md-6">
                <img class="img-responsive" src="http://www.gqthailand.com/content/content_image/9040-1.jpg" alt="" style="width: 700px;height: 425px;">
            </div>

        </div>

</body>
</html>
